/*variaveis*/
:root{ 
    --preto:#000; 
    --branco:#ffffff; 
    --rosa:#b1279e; 
    --verdeneo:#1cf115; 
}
 /*corpo da pagina*/ 
 body{ 
     color: var(--branco);/*cor da fonte*/
     background-color: var(--preto);/*cor do fundo*/ 
     margin: 0px;/*não tera margem padrão*/
     } 
     header{ 
        border: solid 2px; 
        border-color: var(--branco);/*cor da borda*/ 
        padding: 20px; /*espaçamento interno*/
        font-size: 32px;/*tamanho da fonte*/ 
        color: var(--verdeneo)/*cor da fonte*/ 
     } 
        
    section{ 
            background-color: var(--rosa);/*cor de fundo*/ 
            padding-bottom: 80px;/*espaçamento inferior*/ 
            padding-top: 80px;/*espaçamento superior*/ 
            display:flex;/*alrta a disposição*/ 
            justify-content: center;/*justificado no centro*/ 
        } 
        
        div{ 
            margin-right: 20px;/*margem a direita*/ 
        }